<%- include('header') %>
<div class="container">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="/home">Főoldal</a></li>
            <li><%= book.title %></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <h2><%= book.title %></h2>
        <h3><%= book.writer %></h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-5">
            <img src="http://placehold.it/300x300">
        </div>
        <div class="col-xs-12 col-md-7">
            <p><b>Utoljára kölcsönözve:</b> <%= book.dateOfLastTimeLent %></p>
            <p><b>Jelenlegi állapot:</b> <%= bookLocation %></p>
            <hr>
            <% if (isLoggedIn) {%>
                <button class="btn btn-danger">Kölcsönzés</button>
                <% if (book.user_id === user._id || user.isAdmin) %>
                <a href="/book/edit/<%= book.id %>"><button class="btn btn-danger">Szerkesztés</button></a>
            <% } %>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h2>Hozzászólások</h2>
        <div class="col-xs-12 comment-section">
            <div class="row">
                <h4>Nincs hozzászólás</h4>
            </div>
            <!-- comments -->
        </div>
    </div>
</div>
<!-- end: content -->
<%- include('footer') %>